/** Global styles for ArtisanUI **/

/*******************************************************************************
 * Fonts
 ******************************************************************************/

 @import url('https://fonts.googleapis.com/css?family=Inconsolata');

/*******************************************************************************
* CommandGraph client styles
******************************************************************************/

/* Root component */

.aui__root {
  box-sizing: border-box;
  width: 600px;
  margin: 15px auto;
  font-family: 'Inconsolata';
}

/* Title bar */

.aui__title-bar {
  margin: 10px auto;
  font-weight: bold;
}

.aui__home-icon {
  vertical-align: text-top;
}

.aui__breadcrumb {
  color: #000;
  text-decoration: none;
}
.aui__breadcrumb:hover {
  color: hsl(216, 40%, 55%);
}

.aui__host-selector {
  float: right;
  cursor: pointer;
  font-weight: normal;
  color: hsl(216, 0%, 45%);
}
.aui__host-selector:hover {
  color: hsl(216, 40%, 55%);
}

/* Metadata view */

.aui__meta-view {
  box-sizing: border-box;
  padding: 0px 0px 5px 10px;
  white-space: pre;
  margin: 0px auto 10px 3px;
  border-left: 2px dashed #ccc;
}

/* Entry list */

.aui__entry {
  margin: 5px 0px;
  color: hsl(216, 0%, 45%);
}

.aui__entry a {
  color: inherit;
  text-decoration: none;
}
.aui__entry a:hover {
  color: hsl(216, 40%, 55%);
}

.aui__icon {
  font-size: 0.67em;
  vertical-align: middle;
}

/* User-defined data view */

.aui__data-view a {
  color: hsl(216, 60%, 45%);
  text-decoration: none;
}
.aui__data-view a:hover {
  color: hsl(216, 90%, 60%);
}

.aui__data-view select {
  font-family: inherit;
  font-size: 0.9em;
}

/*******************************************************************************
* Syntax highlighting (based on the prism.js default theme by Lea Verou)
******************************************************************************/

.aui__meta-view .token.comment { color: slategray; }
.aui__meta-view .token.punctuation { color: #999; }
.aui__meta-view .token.boolean { color: #905; }
.aui__meta-view .token.number { color: #905; }
.aui__meta-view .token.string { color: #690; }
.aui__meta-view .token.atrule { color: #07a; }
